{
    "name": "LethalLuna",
    "version_number": "{{ version_number }}",
    "website_url": "{{ website_url }}",
    "description": "So Long, and Thanks for All the Fish",
    "dependencies": [
        "AllToasters-SpectateEnemies-2.3.1",
        "BlueAmulet-LCBetterClock-1.0.3",
        "Dev1A3-ScannableCodes-1.0.2",
        "Drakorle-MoreItems-1.0.2",
        "EliteMasterEric-Coroner-1.6.2",
        "FlipMods-FasterItemDropship-1.2.1",
        "FlipMods-LetMeLookDown-1.0.1",
        "Hexnet111-SuitSaver-1.1.4",
        "Jordo-NeedyCats-1.2.1",
        "KoderTeh-Boombox_Controller-1.2.3",
        "LethalResonance-LETHALRESONANCE-4.2.3",
        "MegaPiggy-BuyableShotgunShells-1.1.0",
        "MrHydralisk-SaveOurLoot-1.4.2",
        "PapayaMods-Paintings-0.0.1",
        "Renegades-FlashlightToggle-1.5.0",
        "Renegades-WalkieUse-1.5.0",
        "RickArg-Helmet_Cameras-2.1.5",
        "Rune580-LethalCompany_InputUtils-0.7.1",
        "ShaosilGaming-GeneralImprovements-1.1.11",
        "Sligili-More_Emotes-1.3.3",
        "Suskitech-AlwaysHearActiveWalkies-1.4.4",
        "TheBeeTeam-PersistentPurchases-1.2.0",
        "TheDeadSnake-Touchscreen-1.1.0",
        "TheLowerSubatomic-FreeBoomBox-1.0.0",
        "TwinDimensionalProductions-CoilHeadStare-1.0.9",
        "Verity-TooManySuits-1.0.5",
        "ViViKo-NoSellLimit-1.0.1",
        "anormaltwig-LateCompany-1.0.13",
        "fivetoofive-DetailedScan-1.2.2",
        "medzuslovjansky_hardbas-2137-2137.0.1",
        "monkes_mods-JumpDelayPatch-1.0.1",
        "notnotnotswipez-MoreCompany-1.8.1",
        "sunnobunno-BonkHitSFX-1.0.5",
        "sunnobunno-YippeeMod-1.2.4",
        "taffyko-NameplateTweaks-1.0.6",
        "tinyhoot-ShipLoot-1.1.0",
        "vasanex-ItemQuickSwitch-1.1.0",
        "x753-More_Suits-1.4.3"
    ]
}