{
  "name": "LethalLuna",
  "version_number": "{{ version_number }}",
  "website_url": "{{ website_url }}",
  "description": "So Long, and Thanks for All the Fish",
  "dependencies": [
    "Agutrot-ShrekSuit-1.0.3",
    "AinaVT-LethalConfig-1.4.6",
    "arttuc-YoshiModel-0.1.2",
    "BepInEx-BepInExPack-5.4.2100",
    "BunyaPineTree-ModelReplacementAPI-2.4.19",
    "ButteryStancakes-AccurateStaminaDisplay-2.2.1",
    "ButteryStancakes-EnemySoundFixes-1.8.3",
    "Clementinise-CustomSounds-2.3.2",
    "Drakorle-MoreItems-1.0.2",
    "EliteMasterEric-Coroner-2.3.0",
    "Evaisa-HookGenPatcher-0.0.5",
    "Evaisa-LethalLib-1.1.1",
    "femboytv-LethalPaintings-1.2.3",
    "femboytv-LethalPosters-1.2.3",
    "flerouwu-LC_FastStartup-1.1.2",
    "FlipMods-FasterItemDropship-1.3.1",
    "FlipMods-ReservedFlashlightSlot-2.0.10",
    "FlipMods-ReservedItemSlotCore-2.0.53",
    "FlipMods-ReservedWalkieSlot-2.0.7",
    "Hardy-LCMaxSoundsFix-1.2.0",
    "iyeq-Buyable_Kitchen_Knives-1.0.0",
    "Jordo-NeedyCats-1.2.3",
    "KlutzyBubbles-BetterEmotes-1.5.7",
    "KoderTeh-Boombox_Controller-1.2.7",
    "LethalCompanyModding-LCUltrawide_Community-1.2.2",
    "LethalResonance-LETHALRESONANCE-4.7.8",
    "loaforc-loaforcsSoundAPI_LethalCompany-1.0.2",
    "loaforc-loaforcsSoundAPI-2.0.8",
    "Lordfirespeed-OdinSerializer-2024.2.2700",
    "matsuura-HealthMetrics-1.0.2",
    "MegaPiggy-BuyableShotgun-1.3.0",
    "MegaPiggy-BuyableShotgunShells-1.3.0",
    "MintyMods-HDLCPatch-1.4.1",
    "Monkeytype-HideChat-1.0.0",
    "MonoDetour-MonoDetour_BepInEx_5-0.7.0",
    "MonoDetour-MonoDetour-0.7.0",
    "MrHydralisk-SaveOurLoot-1.5.2",
    "My_Little_Team-Arctic_Survival_Suit-1.0.0",
    "Namirus-HelldiversModelsSuits-0.1.10",
    "no00ob-LCSoundTool-1.5.1",
    "notnotnotswipez-MoreCompany-1.12.0",
    "OpJosMods-HealthRegen-2.4.0",
    "PapayaMods-Paintings-0.0.2",
    "PC-FireExitFlip-1.0.0",
    "Pee_John_Labs-Lethal_Master_Chief-0.1.0",
    "phatisfat-ItemSlotNumKeys-1.0.0",
    "PXC-ShipLootPlus-1.1.0",
    "QuFix-Lidl_Suit-1.0.4",
    "qwq_cloud-Boykisser_uwu_Suit-1.1.2",
    "Renegades-FlashlightToggle-1.5.0",
    "Renegades-WalkieUse-1.5.0",
    "Rune580-LethalCompany_InputUtils-0.7.10",
    "ShaosilGaming-GeneralImprovements-1.4.15",
    "SpookyDookies-Spooky_Dookies_Glowsuits-1.1.8",
    "sunnobunno-BonkHitSFX-1.0.5",
    "sunnobunno-YippeeMod-1.2.4",
    "Suskitech-AlwaysHearActiveWalkies-1.4.5",
    "taffyko-NameplateTweaks-1.0.7",
    "taffyko-NiceChat-1.2.7",
    "TeamClark-Tesco_Suit-1.0.0",
    "TheFluff-FairAI-1.5.3",
    "TheLowerSubatomic-FreeBoomBox-1.0.0",
    "tinyhoot-ShipLobby-1.0.2",
    "TwinDimensionalProductions-CoilHeadStare-1.1.0",
    "Verity-TooManySuits-2.0.2",
    "ViViKo-BreakingBadHazmatSuit-1.0.3",
    "ViViKo-MoreMaterials-1.3.2",
    "x753-More_Suits-1.5.2",
    "xilophor-StaticNetcodeLib-1.1.1",
    "Zaggy1024-OpenBodyCams-3.0.10"
  ]
}