{
    "name": "{{ name }}",
    "version_number": "{{ version_number }}",
    "website_url": "{{ website_url }}",
    "description": "So Long, and Thanks for All the Fish",
    "dependencies": [
        "AllToasters-SpectateEnemies-2.2.1",
        "anormaltwig-LateCompany-1.0.10",
        "Drakorle-MoreItems-1.0.2",
        "FlipMods-FasterItemDropship-1.2.1",
        "FlipMods-LetMeLookDown-1.0.1",
        "notnotnotswipez-MoreCompany-1.7.6",
        "Renegades-FlashlightToggle-1.5.0",
        "Renegades-WalkieUse-1.5.0",
        "RickArg-Helmet_Cameras-2.1.5",
        "Sligili-More_Emotes-1.3.3",
        "Suskitech-AlwaysHearActiveWalkies-1.4.4",
        "taffyko-NameplateTweaks-1.0.6",
        "tinyhoot-ShipLoot-1.0.0",
        "monkes_mods-JumpDelayPatch-1.0.1",
        "BlueAmulet-LCBetterClock-1.0.3",
        "EliteMasterEric-Coroner-1.5.3",
        "ViViKo-NoSellLimit-1.0.1",
        "Jordo-NeedyCats-1.1.1",
        "Dev1A3-ScannableCodes-1.0.2",
        "ShaosilGaming-GeneralImprovements-1.1.1",
        "Rune580-LethalCompany_InputUtils-0.6.1",
        "LethalResonance-LETHALRESONANCE-2.2.6",
        "Verity-TooManySuits-1.0.5",
        "Hexnet111-SuitSaver-1.1.4",
        "x753-More_Suits-1.4.1",
        "TheFluff-GetLootForKills-1.2.3",
        "MrHydralisk-SaveOurLoot-1.4.2",
        "KoderTeh-Boombox_Controller-1.1.9",
        "TwinDimensionalProductions-CoilHeadStare-1.0.3",
        "vasanex-ItemQuickSwitch-1.1.0",
        "MegaPiggy-BuyableShotgunShells-1.0.5",
        "TheBeeTeam-PersistentPurchases-1.2.0",
        "anormaltwig-TerminalExtras-1.0.1",
        "fivetoofive-DetailedScan-1.2.2",
        "TheDeadSnake-Touchscreen-1.0.8",
        "sunnobunno-YippeeMod-1.2.3",
        "TheLowerSubatomic-FreeBoomBox-1.0.0"
    ]
}